<h4>{{tavernName}}</h4>
<ul class="list-group">
    <li *ngFor="let mytavern of tavern" class="list-group-item">
        <div class="row">
            <div class="col-md-6">
                {{mytavern.RoomName}}
            </div>
        </div>
    </li>
</ul>
<ul class="list-group">
    <li *ngFor="let mytavern of tavern" class="list-group-item">
        <div class="row">
            <div class="col-md-6">
                {{mytavern.DailyRate}}
            </div>
        </div>
    </li>
</ul>