<h2>Login</h2>
<form>
  <div class="row">
    <div [formGroup]="loginForm" class="col-md-6">
      <label>User Name</label>
      <input type="text" class="form-control" formControlName="userName" name="userName" />
      <label>Password</label>
      <input type="password" class="form-control" formControlName="password" name="password" />
    </div>
    <div class="col-md-6"></div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-6">
      <button type="submit" class="btn btn-primary" (click)="login()">
        Submit
      </button>
      <button type="button" class="btn btn-secondary float-right" routerLink="/signup">
        Sign Up
      </button>
    </div>
  </div>
</form>