<h2>Signup</h2>
<form>
    <div class="row">
        <div class="col-md-6">
            <div style="color: red"><strong>BUG: Select a tavern from the drop down BEFORE checking admin box</strong></div>
            <br>
            <input type="checkbox" class="form-check-input" (change)="toggleAdmin($event)">
            <label>Check Box if Admin</label>
            <br>
            <label>User Name:</label>
            <input type="text" class="form-control" [(ngModel)]="userName" name="userName" />
            <label>Password:</label>
            <input type="password" class="form-control" [(ngModel)]="password" name="password" />
            <label *ngIf="!isAdmin">Tavern:</label>
            <select *ngIf="!isAdmin" class="form-control" [(ngModel)]="tavern" name="tavern">
                <option [ngValue]="undefined" disabled>Select Tavern</option>
                <option *ngFor='let tavern of taverns' [ngValue]="tavern">{{tavern.TavernName}}</option>
            </select>
            <label *ngIf="isAdmin">Tavern Name</label>
            <input *ngIf="isAdmin" tyoe="text" class="form-control" [(ngModel)]="tavernName" name="adminTavernInput" />
        </div>
        <div class="col-md-6"></div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <button type="submit" class="btn btn-primary" (click)="signup()">
                Submit
            </button>
            <button type="button" class="btn btn-secondary float-right" routerLink="/login">
                Cancel
            </button>
        </div>
    </div>
</form>